<html>
	<head>
		<title>Team parser</title>
	</head>
	<body>
		<div>
			<h1><a href="">Team parser</a></h1>
		</div>

		<div>
			<p>published: 14.06.2017, 12:12</p>
			<h2><a href="">My first post</a></h2>
			<p>Blalalalalalal</p>
		</div>
		<TABLE>
			<THEAD>
				<TR>
					<TH>TH_EXAMPLE</TH>
				</TR>
			</THEAD>
			<TBODY>
				<TR>
					<TD>TD_EX_TBODY</TD>
				</TR>
				<TR>
					<TD>TD_TBODY</TD>
				</TR>
			</TBODY>
			<TFOOT>
				<TR>
					<TD>TD_EX!!!</TD>
				</TR>
			</TFOOT>
		</TABLE>
	</body>
</html>